# Boot-ramdisk template for r1-sample01/3448. Deployment must revalidate UID 10010.
on post-fs-data
    mkdir /data/misc/r1_update 0700 root root

service r1_update /sbin/r1-update-supervisor
    class main
    user root
    group root
    seclabel u:r:r1_update_supervisor:s0
    socket r1_update_supervisor seqpacket 0600 10010 10010 u:object_r:r1_update_supervisor:s0
    disabled

on property:sys.boot_completed=1
    start r1_update
